# This becomes COMPOSE_PROJECT_NAME
name: drupal-boilerplate

services:
  # Create a database service.
  database:
    image: mariadb:10.9
    volumes:
      - mariadb:/var/lib/mysql
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: 'true'
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      interval: 2s
      retries: 120

  cli:
    depends_on:
      database:
        condition: service_healthy

  php:
    depends_on:
      - cli
      - database

  # Attach nginx to port 80 on local.
  nginx:
    ports:
      - 80:80

volumes:
  mariadb:
